.flip-card {
    background-color: transparent;
    perspective: 1000px;
    width: 300px;
    height: 400px;
  }
  
  .flip-card-memories {
    background-color: transparent;
    perspective: 1000px;
    width: 450px;
    height: 650px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
  .flip-card.flipped .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card-memories.flipped .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    z-index: 2;
    transform: rotateY(0deg);
  }
  
  .flip-card-back {
    background-color: #00d44a;
    color: white;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  